{%  extends 'layout.html' %}
{%  block style %}
    <style>

    </style>
{%  endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <form  id="formAdd" novalidate>
                    <div class="clearfix">
                        {% for field in form %}
                            <div class="col-sm-6" style="position: relative" >
                                <div style="margin-top: 15px">{{ field.label }}:</div>
                                {{ field }}
                                <span class="error-msg" style="color: red; position: absolute"></span>
                            </div>
                        {% endfor %}
                        <div class="col-xs-12" style="margin-top: 15px">
                            <button id="btnAdd" type="button" class="btn-primary" style="margin-top: 10px ">提交</button>
                        </div>

                    </div>

                </form>
            </div>
        </div>

        <div class="bs-example" data-example-id="bordered-table">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>id</th>
                <th>标题</th>
                <th>级别</th>
                <th>负责人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for item in queryset %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.title }}</td>
                    <td>{{ item.get_level_display }}</td>
                    <td>{{ item.admin }}</td>
                    <td>
                        <span>
                            <a href="#" class="btn btn-primary btn-xs" >编辑</a>
                            <a href="#" class="btn btn-danger btn-xs" >删除</a>
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

        <div style="margin-top: 10px ">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="?page=1" aria-label="head">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{ page_string }}
                </ul>
            </nav>
        </div>
    
    </div>



{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function (){
            // 页面框架加载完成后代码自动执行

            bindBtnAddEvent();

        })

        function bindBtnAddEvent() {
            $("#btnAdd").click(function () {
                $(".error-msg").empty();
                $.ajax({
                    url: '/task/add/',
                    type: "post",
                    data: $("#formAdd").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            alert("添加成功");
                            // 用JS实现页面的刷新
                            location.reload(); //添加成功就刷新
                        } else {
                            $.each(res.error, function (name, data) {
                                // console.log(name,data);
                                $("#id_" + name).next().text(data[0]);
                            })
                        }
                    }
                })
            })
        }
    </script>
{% endblock %}